<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_zoho'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='inventory'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='914'
				translate='label'
			>
				<label>Inventory</label>
				<dfExtension>Dfe_ZohoInventory</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/zoho-inventory' target='_blank'>Zoho Inventory</a>» extension?]]></comment>
				</field>
				<field
					id='token'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>Authentication Token</label>
					<comment><![CDATA[<div class='df-note'><ol><li>Click <a href='https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoInventory/inventoryapi&DISPLAY_NAME=Mage2.PRO' target='_blank'>the link</a>.</li><li>Enter your Zoho username and password (if you are asked for it)</li><li>You will see a string like AUTHTOKEN=&lt;<code>your token</code>&gt;. Copy the <code>your token</code> value (it is a 32-character string like <code>2cb9cf21cb7c5116623b8da2f9b99497</code>), and paste it to the input field above.</li></ol>The full process is described in the <a href='https://www.zoho.eu/inventory/api/v1/#authentication' target='_blank'>Zoho Inventory API documentation</a>.</div>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>