<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_zoho'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='inventory'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='914'
				translate='label'
			>
				<label>Inventory</label>
				<dfExtension>Dfe_ZohoInventory</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/zoho-inventory' target='_blank'>Zoho Inventory</a>» extension?]]></comment>
				</field>
				<field
					id='token'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>Authentication Token</label>
					<comment><![CDATA[<div class='df-note'><ol><li>Click <a href='https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoInventory/inventoryapi&DISPLAY_NAME=Mage2.PRO' target='_blank'>the link</a>.</li><li>Enter your Zoho username and password (if you are asked for it)</li><li>You will see a string like AUTHTOKEN=&lt;<code>your token</code>&gt;. Copy the <code>your token</code> value (it is a 32-character string like <code>2cb9cf21cb7c5116623b8da2f9b99497</code>), and paste it to the input field above.</li></ol>The full process is described in the <a href='https://www.zoho.eu/inventory/api/v1/#authentication' target='_blank'>Zoho Inventory API documentation</a>.</div>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='organization'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='select'
				>
					<label>Organization</label>
					<source_model>Df\ZohoBI\Source\Organization</source_model>
					<comment><![CDATA[In Zoho Inventory, your business is termed as an organization.
<br/>If you have multiple businesses, you simply set each of those up as an individual organization.
<br/>Each organization is an independent Zoho Inventory organization  with it’s own organization ID, base currency, time zone, language, contacts, reports, etc.
<br><a href='https://www.zoho.com/inventory/api/v1/#organization-id' target='blank'>zoho.com/inventory/api/v1/#organization-id</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>